h1{
    text-align: center;
}

h4{
    font-style: arial;
    font-size: 20px;
    text-align: justify;
}
div{text-align: center;}
a{
    font-family: arial;
    font-size: 20px;
    text-align: center;
    margin-top: 20%;
}